.hero-component {
    margin-top: 52px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 4%;
}

.hero-img {
    width: 710px;
    height: 390px;
    display: block;
    border-radius: 12px;

}

.hero-component-details {
    justify-self: flex-end;
}

.padding-right-30 {
    padding-right: 50px;

}