* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}

html {
    background-image: var(--bg-lg);
    background-attachment: fixed;
}

h4 {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

small {
    color: var(--grey-text);
    font-size: 14px;
    font-weight: 400;
}

.App {
    margin: 0 auto;
    max-width: 1140px;
}

.truncate {
    /**Major Properties**/
    overflow: hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}