@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --bg-lg: linear-gradient(180deg, #374151 0%, #111827 100%);
  --text-color: #ffffff;
  --grey-text: rgba(255, 255, 255, 0.6);
  --search-box-color: rgba(31, 41, 55, 0.6);
}